<style>
    .currencyList{
        width: {{width}}px;
        margin-left: {{margin_left}}px;
        margin-right: {{margin_right}}px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .select-menu .currency-flag{
        height: 32px;
        width: 32px;
    }

    .select-menu .select-btn {
        display: flex;
        height: 30px;
        background: #fff;
        padding: 5px;
        font-size: 16px;
        font-weight: 400;
        border-radius: 4px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);    
        color: #333;
    }

    .select-menu .options {
        position: absolute;
        display: none;
        width: 250px;
        overflow-y: auto;
        max-height: 295px;
        padding: 5px;
        margin-top: 5px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        animation-name: fadeInDown;
        -webkit-animation-name: fadeInDown;
        animation-duration: 0.35s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.35s;
        -webkit-animation-fill-mode: both;
    }

    .select-menu .options .option {
        display: flex;
        height: 36px;
        cursor: pointer;
        padding: 0 5px;
        border-radius: 4px;
        align-items: center;
        background: #fff;
        justify-content: flex-start;
    }

    .select-menu .options .option:hover {
        background: #f2f2f2;
    }

    .select-menu .options .option i {
        margin-right: 5px;
    }

    .select-menu .options .option .option-text {
        font-size: 16px;
        color: #333;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .select-menu .options .option .option-symbol{
        margin-left: auto;
    }

    .select-btn .bi {
        font-size: 25px;
        transition: 0.3s;
    }

    .select-menu.active .select-btn .bi {
        transform: rotate(-180deg);
    }

    .select-menu.active .options {
        display: block;
        opacity: 0;
        z-index: 10;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
        animation-duration: 0.4s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
    }

    @keyframes fadeInUp {
        from {
            transform: translate3d(0, 30px, 0);
        }

        to {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    @keyframes fadeInDown {
        from {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }

        to {
            transform: translate3d(0, 20px, 0);
            opacity: 0;
        }
    }
</style>
<div class="select-menu currencyList">
    <div class="select-btn">
        <span class="sBtn-text">Currency</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
    </div>

    <ul class="options">
        
    </ul>
</div>